<div class="nav-container">
  <ul class="nav">
    <li><img class="logo" src="/assets/jets_logo.jpg"></li>
    <li class ="title"><a href="#">Slacker News </a></li>
    <li> <a href="#">new  | </a></li>
    <li> <a href="/home/comments">comments  |</a> </li>
    <li> <a href="#">ask  | </a></li>
    <li> <a href="#">jobs   |</a></li>
    <li> <a href="#">submit </a></li>
    <li class="login"> <a href="#">login </a></li>
  </ul>
</div>

<div class="articles-container">
<ol class="articles">
  <li>
    <div class="top">
      <a class="triangle" href="https://news.ycombinator.com/vote?for=6249452&dir=up&whence=%6e%65%77%73"></a>
      <a class="link" href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">Firebase Leaves Beta Today</a>
      (firebase.com)
    </div>

    <div class="bottom">
      <p>63 points by lyime 56 minutes ago | 17 comments</p>
    </div>
  </li>

  <li>
    <div class="top">
      <a class="triangle" href="https://news.ycombinator.com/vote?for=6249452&dir=up&whence=%6e%65%77%73"></a>
      <a class="link" href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">Firebase Leaves Beta Today</a> (firebase.com)
    </div>
  </li>

  <div class="bottom">
    <p>63 points by lyime 56 minutes ago | 17 comments</p>
  </div>

  <li>
  <div class="top">
    <a class="triangle" href="https://news.ycombinator.com/vote?for=6249452&dir=up&whence=%6e%65%77%73"></a>
    <a class="link" href="http://fitzgeraldnick.com/weblog/50/">Destructuring Assignment in ECMAScript 6</a> (fitzgeraldnick.com)
  </div>
  </li>

  <div class="bottom">
    <p>40 points by mnemonik 49 minutes ago | 5 comments</p>
  </div>

  <li>
  <div class="top">
    <a class="triangle" href="https://news.ycombinator.com/vote?for=6249452&dir=up&whence=%6e%65%77%73"></a>
    <a class="link" href="#">Introducing Stripe UK (stripe.com)</a>
  </div>
  </li>

  <div class="bottom">
    <p>230 points by woodrow 4 hours ago | 118 comments</p>
  </div>

  <li>
  <div class="top">
    <a class="triangle" href="https://news.ycombinator.com/vote?for=6249452&dir=up&whence=%6e%65%77%73"></a>
    <a class="link" href="#">Datomic in the browser (ragnard.github.io)</a>
  </div>
  </li>

  <div class="bottom">
    <p>47 points by brucehauman 2 hours ago | 1 comment</p>
  </div>

  <li>
  <div class="top">
    <a class="triangle" href="https://news.ycombinator.com/vote?for=6249452&dir=up&whence=%6e%65%77%73"></a>
    <a class="link" href="#">Facebook App Outage Postmortem (facebook.com)</a>
  </div>
  <div class="bottom">
    <p>15 points by lacker 32 minutes ago | 2 comments</p>
  </div>
  </li>

  <li>
  <div class="top">
    <a class="triangle" href="https://news.ycombinator.com/vote?for=6249452&dir=up&whence=%6e%65%77%73"></a>
    <a class="link" href="#">Ink (YC S12) Releases New iOS Layer That Allows Apps to Interact, Share Data (techcrunch.com)</a>
  </div>
  </li>

  <div class="bottom">
    <p>19 points by betojuareziii 1 hour ago | 13 comments</p>
  </div>

  <li>
  <div class="top">
  <a class="triangle" href="https://news.ycombinator.com/vote?for=6249452&dir=up&whence=%6e%65%77%73"></a>
  <a class="link" href="#">It's the real thing (lettersofnote.com)</a>
  </div>
  </li>

  <div class="bottom">
    <p>75 points by ezl 3 hours ago | 44 comments</p>
  </div>

  <li>
  <div class="top">
    <a class="triangle" href="https://news.ycombinator.com/vote?for=6249452&dir=up&whence=%6e%65%77%73"></a>
    <a class="link" href="#">The anatomy of the perfect technical interview from a former Amazon VP (firstround.com)</a>
  </div>
  </li>

  <div class="bottom">
    <p>55 points by jnazario 3 hours ago | 26 comments</p>
  </div>

  <li>
  <div class="top">
    <a class="triangle" href="https://news.ycombinator.com/vote?for=6249452&dir=up&whence=%6e%65%77%73"></a>
    <a class="link" href="#">The Washington Post Web site was hacked today (washingtonpost.com)</a>
  </div>
  </li>

  <div class="bottom">
    <p>34 points by selamattidur 2 hours ago | 26 comments</p>
  </div>

  <li>
  <div class="top">
    <a class="triangle" href="https://news.ycombinator.com/vote?for=6249452&dir=up&whence=%6e%65%77%73"></a>
    <a class="link" href="#">Why does this Java program terminate despite appearing that it shouldn't? (stackoverflow.com)</a>
  </div>
  </li>

  <div class="bottom">
    <p>88 points by patmcguire 3 hours ago | 83 comments</p>
  </div>
</ol>

  <p class="more"> <a href="#"> More </a> </p>

</div>

<div class="footer-container">

  <ul class="footer" style="margin-top :0px;">
    <li><a href="#">Lists |</li>
    <li><a href="#">RSS |</li>
    <li><a href="#">Bookmarks |</li>
    <li><a href="#">Guidelines |</li>
    <li><a href="#">FAQ |</li>
    <li><a href="#">DMCA |</li>
    <li><a href="#">News News |</li>
    <li><a href="#">Feature Requests |</li>
    <li><a href="#">Bugs |</li>
    <li><a href="#">Y Combinator |</li>
    <li><a href="#">Apply |</li>
    <li><a href="#">Library |</li>
  </ul>


<div class="search_bar"
  <form>
    <label>Search:</label>
    <input type="search" name="search">
  </form>
</div>
</div>


